
@{
    ViewBag.Title = "Contato";
}

<h2>Contato</h2>

<br/>
<br/>

<!--Criando link de referencia do objeto Pessoa para aparecer na View Contato-->
<p>@ViewData["PessoaId"]</p>
<p>@ViewData["Nome"]</p>
<p>@ViewData["Tipo"]</p>