@model AppLojaBoa.Models.Cliente


@{
    ViewBag.Title = "Cliente";
}
<style type="text/css">
    .Cliente-Rosa{
        color:deeppink
    }

</style>

<h2>Cliente</h2>
<div class="Cliente-Rosa">
<p>@Model.Id</p>
<p>@Model.nome</p>
<p>@Model.nasc</p>
<p>@Model.end</p>
</div>

