
@{
    ViewBag.Title = "LojaBoa";
}

<style type="text/css">
.Parabens{
    color:blue
}
</style>
<h3>Aluno</h3>

<div class="Parabens">
    <h1>Parabéns! Prestei atenção na aula! Muito bom!</h1>

</div>