@model AppLojaBoa.Models.Venda
@{
    ViewBag.Title = "Venda";
}

<h2>Venda</h2>
<style type="text/css">
.Venda-rosa{
   color:deeppink
}
</style>

<div class="Venda-rosa">
    <p>@Model.vendaId</p>
    <p>@Model.vendaData</p>
    <p>@Model.vendaTotal</p>
</div>